@import '../utils/grid';
@import '../config/breakpoints';

$list-gap: 32px;

.Cards {
  padding: 72px 0;

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: map-get($breakpoints, 'mobile')) {
      @include grid-row($list-gap);
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-item {
    margin-bottom: $list-gap;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: map-get($breakpoints, 'mobile')) {
      @include grid-col($list-gap);
      margin-bottom: 0;
      width: 30%;
      flex: 0 0 auto;
    }
  }
}
