@import '../config/layout.scss';
@import '../config/breakpoints.scss';

.Container {
  margin: 0 auto;
  width: 100%;
  max-width: $container-width;
  padding: 0 $container-padding;

  &--tablet {
    @media (max-width: (map-get($breakpoints, 'tablet') - 1px)) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
