@import '../config/colors';

$modal-transition: 200ms;

.ModalWindow {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 30;
  transition: $modal-transition;

  &-frame {
    width: 100%;
    height: 100%;
    background: map-get($base-colors, 'primary');
    color: map-get($base-colors, 'alternative');
  }

  &--hidden {
    display: none;
    animation-name: modal-hidden;
    animation-duration: $modal-transition;

    .ModalWindow {
      &-frame {
        animation-name: modal-frame-hidden;
        animation-duration: $modal-transition;
      }
    }
  }

  &--active {
    display: block;

    .ModalWindow {
      &-frame {
        animation-name: modal-frame-active;
        animation-duration: $modal-transition;
      }
    }
  }
}

@keyframes modal-hidden {
  0% {
    display: block;
  }

  100% {
    display: none;
  }
}

@keyframes modal-frame-hidden {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    transform: translateX(-100%);
  }
}

@keyframes modal-frame-active {
  0% {
    display: none;
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
