@import '../config/colors';
@import '../utils/grid';
@import '../config/breakpoints';

$gap: 16px;

.NavLinks {
  &-item {
    margin-bottom: $gap;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: map-get($breakpoints, 'tablet')) {
      @include grid-col(0, $gap);
      margin-bottom: 0;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    color: map-get($base-colors, 'alternative');
    font-weight: 500;
    font-size: 16px;
    padding: 16px;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: map-get($breakpoints, 'tablet')) {
      @include grid-row(0, $gap);
      display: flex;
    }
  }
}