@import '../utils/grid';
@import '../config/breakpoints';
@import '../config/layout';

$gap: 24px;
$gap-desktop: 48px;

.TextMedia {
  padding: 72px 0;

  &-row {
    @media (min-width: map-get($breakpoints, 'tablet')) {
      @include grid-row($gap);
      align-items: center;
    }

    @media (min-width: map-get($breakpoints, 'desktop')) {
      @include grid-row($gap-desktop);
    }
  }
  
  &-col {
    margin-bottom: $gap;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: map-get($breakpoints, 'tablet')) {
      @include grid-col($gap);
      flex: 0 0 auto;
      width: 50%;
      margin-bottom: 0;
    }

    @media (min-width: map-get($breakpoints, 'desktop')) {
      @include grid-col($gap-desktop);
    }
  }

  &-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px;
    color: map-get($base-colors, 'alternative');
    background-color: map-get($base-colors, 'primary');
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1;
    display: inline-block;
  }

  &-content {
    margin: 0 0 16px;

    * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-iframe-wrap {
    position: relative;
    padding-top: 60%;
    margin-left: -$container-padding;
    margin-right: -$container-padding;

    @media (min-width: map-get($breakpoints, 'mobile')) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &-image-wrap {
    margin-left: -$container-padding;
    margin-right: -$container-padding;

    @media (min-width: map-get($breakpoints, 'mobile')) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &-iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &--primary {
    color: map-get($base-colors, 'alternative');
    background-color: map-get($base-colors, 'primary');

    .TextMedia {
      &-title {
        color: map-get($base-colors, 'primary');
        background-color: map-get($base-colors, 'alternative');
      }
    }
  }
}
