extends /layouts/main.pug

block head-link
  link(rel="stylesheet", href="/styles/index.css")

block page
  include /blocks/navigation.pug
  include /blocks/hero.pug
  #about
    include /blocks/cards.pug
    include /blocks/text-media.pug
  #gallery
    include /blocks/gallery.pug
  #pricing
    include /blocks/pricing.pug
  #testimonials
    include /blocks/testimonials.pug
  #contact
    h2 Contact us
  #subscribe
    h2 Subscribe
  h2 Footer
