extends /layouts/main.pug

block head-link
  link(rel="stylesheet", href="/styles/index.css")

block page
  include /blocks/navigation.pug
  include /blocks/hero.pug
  #about
    include /blocks/cards.pug
    include /blocks/text-media.pug
  #galery
    h2 Gallery
  #pricing
    h2 Pricing
  #testimonials
    h2 Testimonials
  #contact
    h2 Contact us
  #subscribe
    h2 Subscribe
  h2 Footer
