extends /layouts/main.pug

block head-link
  link(rel="stylesheet", href="/styles/index.css")

block page
  include /blocks/navigation.pug
  include /blocks/hero.pug
  #about
    include /blocks/cards.pug
    include /blocks/text-media.pug
  #gallery
    include /blocks/gallery.pug
  #pricing
    include /blocks/pricing.pug
  #testimonials
    include /blocks/testimonials.pug
  #contact
    include /blocks/contact.pug
  #subscribe
    include /blocks/subscribe.pug
  include /blocks/footer.pug
  include /blocks/mobile-menu.pug
