include /mixins/card.pug

.Cards
  .Container
    ul.Cards-list
      li.Cards-item
        +card('Itaque vides')
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      li.Cards-item
        +card('Familiares nostros')
          <p>Quare conare, quaeso. Estne, quaeso, inquam, sitienti in bibendo voluptas?</p>
      li.Cards-item
        +card('Tamen a proposito')
          <p>Tollenda est atque extrahenda radicitus. Quis suae urbis conservatorem Codrum, quis Erechthei filias non maxime laudat?</p>
      li.Cards-item
        +card('Sed tamen intellego quid velit')
          <p>Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi</p>
      li.Cards-item
        +card('Quodsi ipsam honestatem')
          <p>Quis Aristidem non mortuum diligit? Claudii libidini, qui tum erat summo ne imperio, dederetur</p>