.Contact
  .Contact-form
    h2.Contact-title Contact us
    form.Form
      .Form-field
        label(for="contact-name").Form-label Name
        input(id="contact-name" type="text").Input
      .Form-field
        label.Form-label(for="contact-email") Email
        input(id="contact-email" type="email").Input
      .Form-field
        label(for="contact-message").Form-label Message
        textarea(id="contact-message").Textarea
      .Form-submit-row
        button(type="submit").Button.Button--alternative Submit
