footer.Footer
  .Container
    .Footer-top
      .Footer-grid
        .Footer-col Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni accusamus doloribus explicabo, excepturi maxime harum magnam quidem illo, eaque iure enim vel aperiam temporibus inventore architecto? Libero dolorem doloremque odit!
        .Footer-col
          .Footer-title Address
          ul.Footer-list
            li.Footer-item Lorem
            li.Footer-item Ipsum str. 35
        .Footer-col
          .Footer-title Contacts
          ul.Footer-list
            li.Footer-item
              a(href="tel:380505555555").Footer-link +380505555555
            li.Footer-item
              a(href="mailto:test@test.com").Footer-link test@test.com
        .Footer-col
          .Footer-title Social media
          ul.Footer-list
            li.Footer-item
              a(href="#").Footer-link Facebook
            li.Footer-item
              a(href="#").Footer-link Instagram
            li.Footer-item
              a(href="#").Footer-link Twitter
            li.Footer-item
              a(href="#").Footer-link TikTok
    .Footer-details
      | Developed by 
      a(href="https://github.com/ArtemGrachov").Footer-link Artem Grachov
      |  | Ukraine, 2024
