.NavLinks
  ul.NavLinks-list
    li.NavLinks-item
      a.NavLinks-link(href="#about") About us
    li.NavLinks-item
      a.NavLinks-link(href="#galery") Gallery
    li.NavLinks-item
      a.NavLinks-link(href="#pricing") Pricing 
    li.NavLinks-item
      a.NavLinks-link(href="#testimonials") Testimonials
    li.NavLinks-item
      a.NavLinks-link(href="#contact") Contact us
    li.NavLinks-item
      a.NavLinks-link(href="#subscribe") Subscribe
