.Subscribe
  .Subscribe-form
    h2.Subscribe-title Subscribe to newsletter
    form.Form
      .Form-field
        label.Form-label(for="subscribe-email") Email
        input(id="subscribe-email" type="email").Input
      .Form-submit-row
        button(type="submit").Button.Button--primary Subscribe
