mixin carousel(id)
  .splide(id=id)
    .splide__arrows
      button.splide__arrow.splide__arrow--prev
      button.splide__arrow.splide__arrow--next
    .splide__track
      ul.splide__list
        block
