mixin testimonials-card(options)
  .TestimonialsCard
    .TestimonialsCard-text #{options.text}
    .TestimonialsCard-author
      .TestimonialsCard-author-name #{options.author.name}
      .TestimonialsCard-author-description #{options.author.description}
